{% if user.is_authenticated %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

        <a class="navbar-brand" href="#">SkyHacks</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <!-- <li class="nav-item active">
              <a class="nav-link" href="/main/">Home <span class="sr-only">(current)</span></a>
            </li> -->
          </ul>
          <span class="navbar-text">
            <a class="btn btn-dark btn-sm" href="/accounts/logout/">Logout</a>
          </span>
        </div>
      </nav>
{% else %}
<nav class="navbar navbar-dark bg-dark mb-4">
    <div class="container ">
        <a href="/" class="navbar-brand mx-auto">{% block title %} SkyHacks {% endblock %}</a>
    </div>
</nav>
{% endif %}