
{% if user.is_authenticated %}
<nav class="navbar navbar-dark bg-dark mb-4">
        <div class="container ">
            <a href="/main/" class="navbar-brand mx-auto">{% block titlelogged %} SkyHacks {% endblock %}</a>
        </div>
    </nav>
{% else %}
<nav class="navbar navbar-dark bg-dark mb-4">
    <div class="container ">
        <a href="/" class="navbar-brand mx-auto">{% block title %} SkyHacks {% endblock %}</a>
    </div>
</nav>
{% endif %}