<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<div class="nav-side-menu">
    <div class="brand">SkyHacks</div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
  
        <div class="menu-list">
  
            <ul id="menu-content" class="menu-content collapse out">
                <li>
                  <a href="#">
                  <i class="fa fa-home fa-lg"></i> Home
                  </a>
                </li>

        

                 <li>
                  <a href="#">
                  <i class="fa fa-tasks fa-lg"></i> Task Manager
                  </a>
                  </li>

                 <li>
                  <a href="#">
                  <i class="fa fa-folder-open fa-lg"></i> Software
                  </a>
                </li>

                <li>
                    <a href="#">
                    <i class="fa fa-globe fa-lg"></i> Internet
                    </a>
                </li>

                <li>
                    <a href="#">
                    <i class="fa fa-book fa-lg"></i> Log File
                    </a>
                </li>

                <li>
                    <a href="#">
                    <i class="fa fa-desktop fa-lg"></i> Hardware
                    </a>
                </li>
            </ul>
     </div>
</div>