{% extends "base.html" %}

{% block content %}
<div class="container card">
{% if form.errors %}
  <p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
  {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
  {% else %}
    <p>Please login to see this page.</p>
  {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}

<div class="form-group" style="margin-top: 1em;">
        {% for field in form %}
        <div class="input-group">
                <span class="input-group-addon" style="margin-top: 2.7em; background-color:#b77b48; color:white"><span class="glyphicon glyphicon-user"></span></span>
                {% if field.html_name == 'username' %}
                <input class="form-control" id="{{ field.id_for_label }}" maxlength="30" name="{{ field.html_name }}" placeholder="Username" type="text" /> 
                {% else %}
                <input class="form-control" id="{{ field.id_for_label }}" maxlength="30" name="{{ field.html_name }}" placeholder="Password" type="password" /> 
                {% endif %}
                {{ field.errors }}
            </div>
        {% endfor %}

</div>

<input class="btn btn-dark" type="submit" value="login" />
<input type="hidden" name="next" value="{{ next }}" />
</form>

{# Assumes you setup the password_reset view in your URLconf #}
<p><a href="{% url 'password_reset' %}">Lost password?</a></p>
</div>
{% endblock %}