<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% load static %}
    <link rel="stylesheet" href="{% static '/bootstrap.min.css' %}">


    <title>Placeholder title{% block title %}{% endblock %}</title>
</head>
<body>
    {% include 'partials/_navbar.html' %}
    {% block content %}{% endblock %}
    </div>

</body>
</html>
