<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% load static %}
    <link rel="stylesheet" href="{% static '/bootstrap.min.css' %}">
    {% load static %}
    <link rel="stylesheet" href="{% static '/custom.css' %}">
    <title>PlaceholderName | Home</title>
</head>
<body>
    
    <div>
        {% if user.is_authenticated %}
            {% include 'partials/_navbar_main.html' %}
            {% include 'partials/_sidebar.html' %}
            {% block content %}{% endblock %}
        {% else %}
        {% include 'partials/_navbar_main.html' %}
        <div class="container-fluid">
            <a class="btn btn-dark btn-sm" href="{% url 'login'%}?next={{request.path}}">Login</a>
        </div>

      {% endif %} 
</body>
</html>