{% extends 'base_generic.html' %}

{% block content %}
<div class="content">

<div class="header-main"></br><h2>Software</h2></div>

<div class="ip-address"><h2>
    {% for users in all_users %}
    {% if users.id == user.id %}
        {{users.ip_address}}
    {% endif %}
    
    {% endfor %}</h2>
    <small>{{datetime_now}}</small>
    <small style="float: right;">{{user.reputation}}</small>
    </br><small>{{ user.total_cash_balance }}$</small>
    <small style="float: right;">{{user.bitcoin_balance}}BTC</small>
</div>
<div class="bread-custom">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Software</li>
        </ol>
      </nav>


      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">1</div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">2</div>
        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">3</div>
      </div>


</div>


</div>
{% endblock %}
</div>